<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>A Simple MVVM</title>
		<style type="text/css">
			input[type="text"]{
				width: 500px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="html" />
			<p v-html="html"></p>
			{{{html}}}
			<input type="button" value="产生随机数" v-on:click="random" />
			<hr />
			<input type="text" v-model="text" />
			<p v-text="text"></p>
			{{text}}
			<input type="button" value="反转" v-on:click="reverse" />
			<hr />
			<h1>{{a}} + {{b}} = {{c}}</h1>
			<strong>遇到关联属性的时候会产生一些问题,需要自己手动绑定一个getter/setter</strong>
			<input type="button" value="add" v-on:click="add" />
			<hr />
			<h2>数组目前的长度: {{items.length}}</h2>
			<input type="button" value="add-items" v-on:click="addItems" />
		</div>
		<script type="text/javascript" src="./build/js/mvvm.js"></script>
		<script type="text/javascript">
			const passwordRE = /^\w{6, 16}$/,
				nameRE = /^\w{8, 18}$/,
				mobileRE = /^1[3,5,7,8]\d{9}$/;
			var flag = false;
			new Mvvm({
				el: "#app",
				data: () => {
					var data = {
						text: "zp1996",
						html: "<h1>Hello World</h1>",
						items: [{
							name: 1
						}, {
							name: 2
						}, {
							name: 3
						}]
					};
					var a = 1,
						b = 1;
					Object.defineProperty(data, "a", {
						enumerable: true,
						configurable: true,
						get: function() {
							return a;
						},
						set: function(val) {
							a = val;
							data.c = data.a + data.b;
						}
					});
					Object.defineProperty(data, "b", {
						enumerable: true,
						configurable: true,
						get: function() {
							return b;
						},
						set: function(val) {
							b = val;
							data.c = data.a + data.b;
						}
					});
					data.c = data.a + data.b;
					return data;
				},
				methods: {
					random: function() {
						this.html = `<h1>${Math.random()}</h1>`;
					},
					mobile: function() {
						var flag = mobileRE.test(this.mobile);
						return flag;
					},
					add: function() {
						this.a++;
						this.a++;
						this.b++;
					},
					reverse: function() {
						this.text = this.text.split('').reverse().join('');
					},
					addItems: function() {
						this.items.push({
							name: 'zp' + ~~(Math.random() * 1000)
						});
					}
				}
			});
		</script>
	</body>
</html>