<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>A Simple MVVM</title>
		<style type="text/css">
			.f-line{
				margin: 10px auto;
			}
			.f-line label{
				width: 100px;
				display: inline-block;
				text-align: right;
			}
		</style>
	</head>
	<body>
		<form id="app">
			<div class="f-line">
				<label>姓名：</label>
				<input type="text" v-model="name" />
			</div>
			<div class="f-line">
				<label>密码：</label>
				<input type="password" v-model="password" />
			</div>
			<div class="f-line">
				<label>手机号：</label>
				<input type="text" v-model="mobile" v-on:change="mobile"/>
			</div>
			<input type="button" value="提交" v-on:click="submit" />
			<input type="text" v-model="html" />
			<div v-html="html"></div>
			{{{html}}}
			<input type="button" value="提交" v-on:click="changehtml" />
			<h1>{{a}} + {{b}} = {{c}}</h1>
			<input type="button" value="add" v-on:click="add" />
		</form>
		<script type="text/javascript" src="./build/js/mvvm.js"></script>
		<script type="text/javascript">
			const passwordRE = /^\w{6, 16}$/,
				nameRE = /^\w{8, 18}$/,
				mobileRE = /^1[3,5,7,8]\d{9}$/;
			var flag = false;
			new Mvvm({
				el: "#app",
				data: () => {
					var data = {
						name: "",
						password: "",
						mobile: "",
						html: "<h1>Hello World</h1>11111"
					};
					var a = 1,
						b = 1;
					Object.defineProperty(data, "a", {
						enumerable: true,
						configurable: true,
						get: function() {
							return a;
						},
						set: function(val) {
							a = val;
							data.c = data.a + data.b;
						}
					});
					Object.defineProperty(data, "b", {
						enumerable: true,
						configurable: true,
						get: function() {
							return b;
						},
						set: function(val) {
							b = val;
							data.c = data.a + data.b;
						}
					});
					data.c = data.a + data.b;
					return data;
				},
				methods: {
					submit: function() {
						console.log({
							name: this.name,
							password: this.password,
							mobile: this.mobile
						});
					},
					changehtml: function() {
						this.html = `<h1>${Math.random()}</h1>`;
					},
					mobile: function() {
						var flag = mobileRE.test(this.mobile);
						console.log(flag);
						return flag;
					},
					add: function() {
						this.a++;
						this.b++;
					}
				}
			});
		</script>
	</body>
</html>